<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #FF8300">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/images/navIcon.png" alt="" width="150" height="30" class="d-inline-block align-text-top">
            
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">C Sharp</a></li>
              <li><a class="dropdown-item" routerLink="courseJava">Java</a></li>
              <li><a class="dropdown-item" href="#">DotNet</a></li>
              <li><a class="dropdown-item" href="#">Angular</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">React</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="gallery" style="color: white;">Photo Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="restapi" style="color: white;">REST API Consume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" style="color: white;">Contact us</a>
          </li>
          
          
        </ul>

        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <!-- <button class="btn btn-outline-light" type="submit"></button> -->
          <a class="btn" routerLink="registration" style="color: white;">Employee Registration</a>
          <!-- <a class="btn btn-outline-light" routerLink="patient-registration" >Employee Registration</a> -->
        </form>
      </div>
    </div>
  </nav>


 