<div class="container">
    <img src="./assets/images/Java-programming.png" class="img-fluid w-100" alt="..." style="height:300px;">
    <p>This Java Tutorial is designed for beginners as well as experienced professionals. Whether you’re looking to learn the basics of Java or its advanced concepts, this Java tutorial is the perfect resource for you.</p>
    <br>
    <h3>What is Java?</h3>
    <br>
    <p>Developed by Sun Microsystems in 1995, Java is a highly popular, object-oriented programming language. This platform independent programming language is utilized for Android development, web development, artificial intelligence, cloud applications, and much more.</p>
    <br>
    <p>In this tutorial, we will cover everything from the basics of Java syntax to advanced topics like object-oriented programming and exception handling. So, by the end of this tutorial, you will have a strong understanding of Java and be ready to start writing your own Java applications. So let’s get started on this comprehensive Java programming tutorial!</p>

    <div class=" component-card">
        <!-- <div class="card-body">
            <h4> What To Learn Next? </h4>
          <p class="card-text"> The Complete Backend Development Program by GeeksforGeeks teaches you advanced JAVA concepts such as Spring Boot, Hibernate, RESTful APIs, Microservices, and OOPs </p>
        </div>
      </div> -->
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <img src="./assets/images/Java.png" alt="..." width="200" height="200">
        </div>
        <div class="flex-grow-1 ms-3">
            The Complete Backend Development Program by Timken teaches you advanced JAVA concepts such as Spring Boot, Hibernate, RESTful APIs, Microservices, and OOPs 
        </div>
      </div>
</div>
