

<app-carosel></app-carosel>








<h2 class="text-center">
    Empowering Excellence Through Knowledge and Innovation
</h2>
<div class="container mainContent">
    <p class="lead">
        At Timken, we are dedicated to fostering a culture of continuous learning and advancement. Our commitment lies in providing unparalleled educational resources, nurturing talent, and fostering innovation. Through a comprehensive spectrum of programs, we empower our community to thrive in a dynamic world, equipping individuals with the skills and knowledge necessary to excel in their careers. Join us in our journey of discovery, where education meets innovation, shaping a brighter future for all.
      </p><br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 100%;">
            <img src="./assets/images/Java.png" class="card-img-top" alt="..." style="width: 200px; margin-left: 25%; height: 200px;">
            <div class="card-body">
              <h5 class="card-title">Java</h5>
              <p class="card-text">Java is a versatile, object-oriented programming language highly acclaimed for its portability...</p>
              <a routerLink="../courseJava" class="btn " style="background-color: #FF8300; color: white;">Read More</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 100%;">
            <img src="./assets/images/angular.png" class="card-img-top" alt="..." style="width: 200px; margin-left: 25%;height: 200px;">
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Angular is a powerful open-source web application framework developed by Google, SPAs...</p>
              <a href="#" class="btn " style="background-color: #FF8300; color: white;">Read More</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4">
        <!-- <div class="card" style="width: 18rem;"> -->
        <div class="card" style="width: 100%;">
            <img src="./assets/images/dotnet.png" class="card-img-top" alt="..." style="height: 200px;">
            <div class="card-body">
              <h5 class="card-title">DotNet</h5>
              <p class="card-text">.NET is a comprehensive framework by Microsoft, encompassing languages like C#, F#...</p>
              <a href="#" class="btn " style="background-color: #FF8300; color: white;">Read More</a>
            </div>
          </div>
      </div>
    </div>
  </div>

<!-- <app-restapi></app-restapi> -->